#{extends 'main-users.html' /}
#{set title:'Inicio' /}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bem vindo(a)!</h1>
</div>

<div class="row">       
    <div class="col-12">
    <div class="card shadow mb-4" >
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Competências do ENEM:<h6>
        </div>
        <div class="card-body">
        
            <p>O redação nota 1000 é projeto no qual possa auxiliar o estudo para redação do Enem, a cada semana um tema relacionado as atualidades seria lançado e o intuito é que as pessoas interajam com ideias sobre o tema, argumentos... através de comentários, e ao fim um resumo seria gerando e arquivado sobre aquele tema, para quando o usuário for produzir sua redação possa ter uma base sobre cada tema.</p>
        
        </div>
    </div>
    </div>
</div> 

